# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node / React
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
db.sqlite3

# Java
*.class
target/
.gradle/
build/
.idea/
*.iml

# Logs & coverage
coverage/
*.log

# Secrets
*.key
*.pem
*.crt



HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
