.TodoList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.TodoListItem[data-completed="true"] .Info {
  text-decoration: line-through;
}

.Content {
  display: flex;
  gap: 4px;
}

.Status {
  align-self: flex-start;
  margin-top: 6px;
}

.Info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Description {
  font-size: 13px;
  color: gray;
}

.AdditionalInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 0 4px;
  font-size: 13px;
  color: gray;
}
