.child-container {
  padding: 15px;
  margin: 10px auto;
  background-color: #e6f7ff;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.child-message {
  font-size: 18px;
  color: #007acc;
}

.child-user-info {
  font-size: 16px;
  color: #333;
}
