.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.Shape {
  background: blue;
}

label {
  display: flex;
  align-items: center;
  gap: 8px;
}
