p {
  font-size: 18px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 16px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 56px;
}

button {
  margin-top: 16px;
  font-size: 18px;
}
